@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FingerPaint';
    src: url('fonts/FingerPaint-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 20px;
	background-color: #ccc !important;
	color: #000;
}

.counter {
 	font-family: 'FingerPaint', cursive;
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	color: #fff;
}

#countdown {
 	letter-spacing: 2px;
	font-weight: bold;
	font-size: 24px;
	color: #fc2424;}

#CountdownJahr {
	font-weight: bold;
	font-size: 24px;
 	letter-spacing: 4px;
}

.fingerpaint {
 	font-family: 'FingerPaint', cursive;
 }

/* basics */
a, a:active, a:visited, a:hover, a:focus {outline: none;}
a img, a:active img, a:visited img, a:hover img, a:focus img {border: none; outline: none;}

a {
	text-decoration: none;
	color: #fc2424;
}
a:hover {
	color: #fc2424;
	text-decoration: underline;
}
a[target="_blank"] {
	white-space: nowrap;
}
/*
a[target="_blank"]:after {
	content: "\f08e";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	padding-left: 5px;
}
*/
a.piclink[target="_blank"]:after  {
	content: "" !important;
}

p {margin: 0 0 10px 0; line-height:150%;}

h1, h2 {color: #fc2424; margin: 0 0 20px 0;}
h3, h4 {color: #fc2424; margin: 0 0 10px 0;}
h5, h6 {color: #fff; margin: 0 0 10px 0;}

h1 {font-size: 22px; margin: 0 0 20px 0; line-height: 32px;}
h2 {font-size: 20px; }
h3, h5 {font-size: 18px;}
h4, h6 {font-size: 16px;}

hr {
	border: none;
	border-bottom: 1px dotted #fc2424;
	height: 1px;
	clear: both;
	margin: 20px 0;
}

li, li a {
	/* kollidiert mit highslide !
	padding-bottom: 6px;
	*/
}
ul {
	margin-top: 0;
	/*margin-bottom: 10px;*/
	margin-left: 0.9em;
	padding-left: 0.9em;
	list-style-image: url(images/li.png);
	list-style-type: square	;
}
ol {
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0.9em;
	padding-left: 0.9em;
}

blockquote {
	margin: 10px;
	padding-left: 10px;
	border: none !important;
	border-left: 4px solid #888 !important;
	font-style: italic;
	font-weight: normal;
	background: none !important;
	color: #666 !important;
	font-size: inherit;
}

address {
	padding: 10px;
	margin: 0 0 20px 0;
}
pre, code {
	padding: 5px 0 10px 6px;
	margin: 3px 0 20px 0;
	font-size: 1em;
	overflow: auto;
	line-height: 1.5em;
	color: #eee;
}

table {
	border-collapse:collapse;
	/*border-top: 1px solid #4dc4ef;*/
	margin-top: 3px;
	margin-bottom: 5px;
	width: 100%;
	/*font: 0.85em;	*/
}

table caption {
	/*font-size: 1.1em; */
	text-align: left;
}
table th {
	/*font-size: 0.9em; */
	padding: 4px;
	text-align: left;
	vertical-align: top;
	/*border-bottom: 1px solid #4dc4ef;*/
}
table tbody td {
	/*font-size: 0.9em; */
	padding: 4px;
	vertical-align: top;
	/*border-bottom: 1px solid #4dc4ef;*/
	border-collapse:collapse !important;
}
table tbody tr:hover td {
	background-color: #444;
}
tbody td p, tbody td h1, tbody td h2, tbody td h3, tbody td h4 {
	margin: 0;
	line-height: 110%;
}

pre, code, blockquote {
	border: 1px solid #222;
	background: #666;
	color: #ccc;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * form elements
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

 input[type=text], input[type=password], select, input[type=email] {
	background-color: #999;
	border: 1px solid #000;
	border-radius: 3px;
	color: #000;
	padding: 5px 5px;
	box-sizing: border-box;
}
 input[type=submit], input[type=reset], button[type=submit]{
	background-color: #999;
	border: 1px solid #000;
	border-radius: 3px;
	color: #000;
	padding: 5px 5px;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
}
 input[type=submit]:hover, input[type=reset]:hover, button[type=submit]:hover {
	background-color: #666;
	color: #fff;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * specials
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

p img[align="right"], h3 img[align="right"] {
	float: right;
	margin: 4px 0 5px 10px;
}
p img[align="left"], h3 img[align="left"] {
	float: left;
	margin: 4px 10px 5px 0;
}
